@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    width: 1440px;
    margin: auto;
}
.main__navbar{
    /* width: 100%; */
    width: 1440px;
    height: 68px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 22px;
}
.image-navbar{
    margin-right: 72px;
}
.main__navbar__sentences{
    width: 306px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home{
    text-decoration: none;
    font-size: 17px;
    font-weight: 450;
    color: #2B2B39;
    font-family: 'Inter', sans-serif;
    
}
.community-1{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #656464;
}
.blog{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #656464;
}
.events{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #656464;
}
.main__navbar__input{
    width: 90px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-left: 379px;    
    margin-right: 42px; 
    border-bottom: 1px solid #E5E5E5; 
}
.input-search{
    width: 105px;
    height: 32px;
    border: none; 
    font-family: 'Inter', sans-serif;
    outline: none;
}
.butt-log-in{
    width: 123px;
    height: 50px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    border: none;
}
.log-in{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
.main__group{
    width: 515px;
    height: 366px;
    margin-left: 135px;
    margin-top: 125px;
    margin-bottom: 165px;
}
.main__butt-netbook{
    width: 177px;
    height: 36px;
    margin-bottom: 12px;
}
.butt-netbook{
    width: 177px;
    height: 36px;
    background: #E5E5E5;
    border: none;
    border-radius: 8px;
}
.netbook-community{
    color: #217BF4;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.main__group__pargraph-h1{
    color: #0A093D;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    width: 515px;
    height: 132px;
    margin-bottom: 18px;
}
.main__group__text-delicate{
    width: 491px;
    height: 56px;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656464;
}
.main__butt-2{
    width: 347px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    width: 347px;
    height: 62px;
}
.main__butt-blue{
    width: 162px;
    height: 60px;
}
.butt-blue-2{
    background-color: #217BF4;
    border-radius:14px;
    border: none;
    width: 162px;
    height: 62px;
}
.about-more{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}
.main__butt-white{
    width: 167px;
    height: 62px;
}   
.butt-white{
    width: 167px;
    height: 62px;
    background: white;
    border: 1px solid #217BF4;
    border-radius:14px;
    margin-left: 18px;
}
.invite-friend{
    color: #217BF4;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
/* .main__center__image-pepole{
    border: 1px solid red;
} */
.main__center{
    margin: auto;
    width: 1440px;
    display: flex;
}
.block-2{
    margin: auto;
    width: 1440px;
    height: 576px;
    margin-top: 96px;
    display: flex;
}
.block-2__text{
    width: 406px;
    height: 346px;
    margin-left: 135px;
    margin-top:  96.53px;
}
.block-2__text__whats{
    width: 142px;
    height: 18px;
}
.whats-netboks{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
    font-family: 'Inter', sans-serif;
}
.block-2__text-h3{
    width: 406px;
    height: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #0A093D;
    font-family: 'Inter', sans-serif;
    margin-top:10px ;
    margin-bottom: 16px;
}
.block-2__text-pr{
    width: 406px;
    height: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #656464;
}
.block-2__sentences-3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:93px;
    height: 86px;
    justify-content: space-between;
    margin-top: 36px;
}
.block-2__sentences-3-1{
    display: flex;
    align-items: center;
    width: 93px;
    height: 18px;
}
.block-2__sentences-3-3{
    display: flex;
    align-items: center;
    width: 93px;
    height: 18px;
}
.groups{
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #171648;
}
.messages{
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #171648;
}
.share{
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #171648;
}
.block-2__images-3{
    width: 564px;
    height: 508px;
    margin-left: 200px;
    margin-top: 34px;
    display: flex;
    align-items: center;
}
.block-2__images-3__div-column{
    width:270px ;
    width: 270px;
    height: 508px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.block-2__images-3__div-column-2{
    width: 265px;
    height: 508px;
    margin-left: 29px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block-3{
    width: 1440px;
    height: 490px;
    margin: auto;
}
.block-3__box-1{
    width: 336px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    border-radius: 14px;
    margin-left: 135px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.block-3__box-1__img-rating{
     width: 135px;
     height: 28px;
     display: flex;
     align-items: center;
     margin-top: 42px;
     margin-left: 44px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 20px;
     color: #0A093D;
}
.star{
    margin-right: 10px;
}
.block-3__box-1__img-pepole{
    display: flex;
    align-items: center;
    height: 24px; 
    margin-left: 44px;
    margin-top: 32px;


}
/* .members-836k{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.pepole-3{
    margin-right: 16px;
/*     width: 60px;
    height: 24px; */
}
.members{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #5D5B70;
}
.block-3__box-1__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #8C8C8C;
    display: flex;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    width: 274px;
    height: 78px;
    margin-left: 44px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.block-3__box-1__join{
  margin-left: 44px;
}
.join{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #217BF4;
    text-decoration: none;
}
.arrowright{
    margin-left: 8px;
}
.bbw{
    color: #217BF4;
}
.block-3{
    display: flex;
    align-items: center;
}
.block-3__box-2{
    width: 336px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    border-radius: 14px;
    margin-left: 24px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.go{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4A4A56; 
    text-decoration: none;  
}
.block-3__text{
    width: 381px;
    height: 322px;
    margin-left: 93px;
}
.our{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;    
}
.block-3__text__h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #0A093D;
}
.block-3__text__pargraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #656464;
}
.block-3__text__butt{
    width: 192px;
    height: 58px;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.butt-blue{
    width: 192px;
    height: 58px;
    background: #217BF4;
    box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
    border-radius: 14px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.discover-me{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
}
.aaaaaa{
    margin-left: 20px;
   
}
.anis{
    /* padding: 6px; */
    width: 18px;
    height: 18px;
    background-color: #f0f0f7;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nouali{
    width: 18px;
    height: 18px;
    background-color: #f0f0f7;
    border-radius: 40px;
}
.block-2__sentences-3-1{
    width: 130px;
    display: flex;
    align-items: center;
    text-align: center;
}
.anis__noauli{
    width: 8px;
    height: 8px;
    right: 1292px;
    border-radius: 40px;
    background: #217BF4;
}
.block-4{
    width: 1440px;
    height: 976px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 46px;
}
.block-4__text{
    width: 444px;
    height: 138px;
    margin: auto;
    margin-top: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.blue-our{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #217BF4;
}
.blue-community{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #0A093D;
    display: flex;
}
.span-text-block-4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #656464;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.block-4__group-6{
    width: 1088px;
    height: 634px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
}
.block-4__group-6-boxes-column{
    height:634px;
    width: 522px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.block-4__group-6-boxes-column__box-1{
    width: 522px;
    height: 182px;
    background: #FFFFFF;
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
    border-radius: 14px;
    display: flex;
}

.block-4__members{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #2F2C4A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 14px;
}
.block-4__group-6-boxes-column__box-1__text__span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #656464;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 46px;
    margin-left: 26px;
}
.img-2-pepole{
    margin-left: 40px;
}
.block-5{
    width: 1439px;
    height: 776px;
    margin: auto;
    margin-bottom: 46px;
}
.block-5__text-butt{
    margin: auto;
    width: 474px;
    height: 248px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 84px;
}
.valuable-team{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #217BF4;
    margin-bottom:10px;
}
.our-active-members{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #0A093D;
    margin-bottom: 18px;
}
.pargraph-block-5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #656464;
}
.block-5__text-butt__butt-3{
    width: 474px;
    height: 72px;
    background: #f3f3f8;
    border-radius: 14px;
    display: flex;
    align-items: center;
    border: none;
    margin-top: 38px;
}
.butt-newst{
    background: none;
    border: none;
    margin-left: 58px;
}
.newst{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #2F2C4A;
}
.butt-popluar{
    background: none;
    border: none;
    margin-left: 98px;
}
.popluar{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #2F2C4A;
}
.butt-blue{
    width: 150px;
    height: 56px;
    background: #217BF4;
    margin-left: 50px;
}
.butt-active{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.block-5__men{
    width: 1170px;
    height: 316px;
    margin: auto;
    margin-top: 44px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.block-5__men__profile-1{
    width: 270px;
    height: 316px;
    background: #FFFFFF;
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
    border-radius: 14px;
    position: relative;
/*     justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; */
}
.abstrack-1{
    /* border: 1px solid rgb(44, 5, 150); */
    position: absolute;
    left: 52px;
    right:52px;
    top: 30px;
    bottom: 115px;
    width: 166px;
    height: 171px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abstrack-2{
    position: relative;
}
.block-5__men__profile-1__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #2F2C4A;
    margin-top: 230px;
    
}
.block-5__men__profile-1__image{
    width: 142px;
    height: 142px;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 52px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 12px;
    top: 12px;
    left: 12px;
    bottom: 132px;
}
.rahman{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #656464;
    margin-top: 14px;
}
.man-3{
    margin-top: 18px;
}
.man-4{
    margin-top: 18px;
}
.block-6{
    width: 1440px;
    height: 560px;
    margin: auto;
    margin-bottom: 96px;
    display: flex;
    background: #E5F0FD;
}
.block-6__text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 135px;
    margin-top: 122px;

}
.get-our-aplication{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}
.you-can-easily-find {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #0A093D;
}
.block-6__pargraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #656464;  
}
.block-6__text__image{
    width: 286.78px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}
.block-6__image{
    margin-left: 80px;
}
.block-7{
    margin: auto;
    width: 1440px;
    height: 671px;
}
.block-7__text{
    margin: auto;
    width: 230px;
    height: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}
.block-7__sentence{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #217BF4;
    margin-bottom: 10px;
}
.latest-news{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #0A093D;
}
.block-7__images{
    width: 1170px;
    height: 459px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.block-7__images__text{
   display: flex;
   align-items: flex-start;
   flex-direction: column;

}
.block-7__pargraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2F2C4A;
}
.continue-reading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #656464;
    margin-top: 10px;
}
.ssss{
    width: 39px;
    height: 0px;
    border: 2px solid #FFAF2E;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
}
.bbbbb{
    display: flex;
    margin-top: 25px;
}
.block-7{
    margin-bottom: 96px;
}
.block-8{
    width: 1440px;
    height: 485px;
    margin: auto; 
    background: #2B2B39;
    padding-top: 78px;
}
.block-8__div-row{
     width: 670px;
     display:flex;
     align-items: center;
     /* justify-content: space-between; */
     margin-left: 150px;
}
.row{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.block-8__row{
    width: 690px;
    height: 184px;
    margin-top: 22px;
    margin-left: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-8__row__column{
    width: 91px;
    height: 184px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.block-8__row__column-2{
    width: 96px;
    height: 184px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.block-8__row__column-4{
    width: 110px;
    height: 184px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
.column{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    color: #E7E7E7;
}
.resources{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 135px;
}
.community{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 95px;
}
.main-links{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 85px;
}
.block-8__last-div{
    width: 1440px;
    height: 96px;
    background: #20202D;
    margin-top: 85px;
   /*  padding-top: 41px; */
   display: flex;
   align-items: center;
}
.block-8__last-div__sentences{
    width: 168px;
    height: 36px;
    margin-left: 429px;
}
.besnik{
    margin-left: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #F6F6F6;
}

.block-9__netbook{
    margin-left: 357px;
}
.block-8__text{
    width: 339px;
    height: 218px;
    border: 1px solid red;
}